<li class="bar-container">
    <div class="title">{{bar.title}}</div>
    <div class="cost">{% for i in range(1, bar.barCost.value) %}${% endfor %}</div>
    <div class="proximity">{{bar.barProximity}}</div>
</li>
