{% set options = [
    {'name': 'Home', 'url': '/'},
    {'name': 'Our Story', 'url': '/our-story'},
    {'name': 'Details', 'url': '/details'},
    {'name': 'Travel & Accommodations', 'url': '/travelAccommodations'},
    {'name': 'Things To Do', 'url': '/thingsToDo'},
    {'name': 'Wedding Party', 'url': '/wedding-party'},
    {'name': 'Registry', 'url': '/registry'},
    {'name': 'Photos', 'url': '/photos'}
]
%}

<nav>
    <div class="Menu">
        <ul>
            {% for link in navMenu.navMenu.all %}
                {% include '_partials/nav-menu/' ~ link.type.handle with {
                    link: link
                } only %}
            {% endfor %}
        </ul>
    </div>
    {# <div id="menu-root"></div> #}
</nav>
