<nav role="navigation">
    <div class="Menu-mobile-hamburger">&#9776;</div>
    <div class="Menu">
        <ul>
            {% for link in navMenu.navMenu.all %}
                {% include '_partials/nav-menu/' ~ link.type.handle with {
                    link: link
                } only %}
            {% endfor %}
        </ul>
    </div>
</nav>
