<div class="Wysiwyg">
    {% if content.sectionHeading is not empty %}
        <div class="Wysiwyg-title"><span>{{ content.sectionHeading }}</span></div>
    {% endif %}
    {{ content.copy | replace({
        '<p>': '<p class="Wysiwyg-copy">',
    }) | raw }}
</div>