{% extends '_layouts/default' %}

{% block content %}
    {% cache globally unless getenv('APP_ENV') == 'development' %}
    <div class="content">
        {% include '_partials/wysiwyg' with {
            content : {
                sectionHeading: entry.headline,
                copy: ''
            }
        }
        only %}

        <div class="WeddingParty">
            <div class="WeddingParty-col">
                {% for bridesmaid in entry.bridesmaidList %}
                    {% include 'wedding-party/person' with {
                                member: bridesmaid
                            } only %}
                {% endfor %}
            </div>
            <div class="WeddingParty-col">
                {% for groomsman in entry.groomsmenList %}
                    {% include 'wedding-party/person' with {
                                member: groomsman
                            } only %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endcache %}
{% endblock %}