{% extends '_layouts/default' %}

{% block content %}
    {% cache %}
    {% set hero = entry.pageHeroImage %}
    {% if hero | length %}
        <div class="Hero">
            <img src="{{hero.first.getUrl}}"/>
        </div>
    {% endif %}
    
    {{ entry.bodyParagraph }}
    {% endcache %}
{% endblock %}