{% extends '_layouts/default' %}

{% block content %}
    {% set restaurants = craft.app.get('restaurants').all() %}
    {% set cuisines = craft.app.get('restaurants').cuisines() %}
    {% set costs = craft.app.get('restaurants').costs() %}
    <div
        data-vue
        is="restaurant-filter"
        :restaurants="{{ restaurants | json_encode }}"
        :cuisines="{{ cuisines | json_encode }}"
        :costs="{{ costs | json_encode }}"
    >
    </div>
{% endblock %}
