<div class="Controls">
    {% if pageInfo.prevUrl %}
        <a href="{{ pageInfo.prevUrl }}">Back</a>
    {% endif %}
    {% if pageInfo.nextUrl %}
        <a href="{{ pageInfo.nextUrl }}">Next</a>
    {% endif %}
</div>