$color-0: #0082ff;
$color-1: #55ACEE;
$color-2: #292F33;
$color-3: #66757F;
$color-4: #CCD6DD;
$color-5: #E1E8ED;
$color-6: #FFFFFF;

$page-bg: $color-4;

$nav-bg: $color-6;
$submenu-bg: $color-4;
$nav-link: $color-3;
$nav-link-active: $color-2;
$nav-item-border: $color-5;

$black-opacity: rgba(0.7, 0.7, 0.7, 0.7);

$filter-bg: $black-opacity;
$filter-controls-bg: $black-opacity;
$filter-controls-fg: $color-6;
$filter-controls-title-bg: $color-4;
$filter-controls-title-fg: $color-2;

$filtered-item-bg: $color-4;

$category-bg: $color-1;
$category-fg: #fff;

$sep-color: $color-5;
