@import 'colors';

.controls {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  
  label {
    padding: 2px 5px;
    line-height: 3rem;
    margin: 1rem 1rem;
    text-transform: uppercase;
    border-radius: 16px;
    background-color: $color-5;
  }
  .active {
    background-color: $color-1;
  }
}

#cuisines-label:before {
  text-transform: uppercase;
  content: 'Cuisine';
  display: flex;
  flex-direction: row;
}
  
#cost-label:before {
  text-transform: uppercase;
  content: 'Cost';
}

#sort:before {
  content: 'Sort';
  text-transform: uppercase;
}
