.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  label {
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
  }
  .active {
    background-color: rgba(.5, .5, .5, .1);
  }
}
