@import 'colors';
@import 'fonts';

.Controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  & > * {
    padding: 2rem;
    margin: 2rem;
  }
  &-dropdown {
    flex: 1 1 auto;
    min-width: 25%;
    max-width: 30%;
    border: 0;
    border-radius: 0;
    font-size: $font-md;
    font-family: $sans;
  }
}

.controls-container {
  background-color: $color-6;
  border-radius: 16px;
  //padding: 2rem;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 2rem;
  font-size: $font-sm;
  
  label {
    padding: 2px 5px;
    line-height: 3rem;
    margin: 3px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: $color-5;
  }
  .active {
    background-color: $color-3;
  }
}

.cuisine:before {
  content: 'Cuisine';
}

td.header {
  // background-color: $color-4;
  border-bottom: 1px solid $color-4;
}
td.type {
  vertical-align: top;
}
