@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css');

$sans: 'Fira Sans Condensed', sans-serif;
$serif: 'Baskerville', serif;
$fa: 'FontAwesome', sans-serif;

$font-xl: 5rem;
$font-lg: 3rem;
$font-md: 1.8rem;
$font-sm: 1.4rem;
