.getting-around > ul {
  padding-left: 5rem;
}
.getting-around > ul > li {
  padding-bottom: 1rem;
}

.getting-around > ul > li > ul {
  padding-left: 5rem;
}

.getting-around > ul > li > ul > li {
  padding-bottom: 1rem;
}
