.Map {
    width: 100%;
    display: block;
    min-height: 600px;

    &-data {
        // height: 100%;
        min-height:600px;
        width: 100%;
    }

    &-infoWindow {

        &--rating {
            margin-bottom: .5rem;
        }
        
        &--open {
            margin-bottom: .5rem;
        }

        &--directions {
            color: $color-3;
        }

        &--image {
            max-width: 100%;
            & img {
                // width: 100%;
                max-height: 200px;
            }
        }
    }
}