@import 'fonts';
@import 'colors';

nav {
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.Menu {
  ul {
    list-style-type: none;
    padding: 0;
    font-family: $sans;
    font-size: $font-sm;
    display: flex;

    @include mobile {
      max-height: 0;
      visibility: hidden;
      opacity: 0;
      flex-direction: column;
      align-items: center;
      transition: max-height, opacity 500ms ease-in-out;    
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      border-top: 2px solid $color-4;
      position: relative;
      top: -1rem;
      justify-content: center;
      margin: 1rem;
      align-items: start;
      padding: 0 20px;
    }
  }

  // Mobile menu active
  &.active ul {
    @include mobile {
      max-height: 800px;
      visibility: visible;
      opacity: 1;   
    }
  }

  &-item {
    text-transform: uppercase;

    @include mobile {
      width: 100%;
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid $color-4;
      &:last-child {
        border-bottom: 0;
      }
    }

    @include desktop {
      max-width: 180px;
      padding: 0 10px;
      margin: -1rem auto 0 auto;
      background-color: $color-6;
    }

    &-subMenu {
      @include desktop {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 300ms linear;
      }
      @include mobile {
        &>div { 
          padding: .5rem;
        }
      }

      &>span {
        cursor: pointer;
      }
    }
    
    &:hover &-subMenu {
      @include desktop {
        visibility: visible;
        opacity: 1; 
      }
    }
    &>a, &-subMenu>div>a {
      color: $color-2;
      @include mobile {
        color: $color-2;
      }
    }
  }
  &-mobile-hamburger {
    display: none;
    @include mobile {
      display: block;
      cursor: pointer;
      padding: 1rem;
    }
  }
}

// .nav {
//   list-style-type: none;
//   padding: 0;
//   font-family: $sans;

//   @include mobile {
//     display: none;
//     align-items: center;
//     flex-direction: column;
//   }

//   @include desktop {
//     display: flex;
//     flex-direction: row;
//     border-top: 2px solid #eee;
//     margin: 10px 0 10px 0;
//     font-size: $font-sm;
//     vertical-align: middle;
//     justify-content: center;
//     align-items: start;
//     position: relative;
//     top: -1rem;
//   }

//   li {
//     text-transform: uppercase;
//     @include desktop {
//       max-width: 180px;
//       display: inline-block;
//       padding: 0 20px 0 20px;
//     }
//     @include mobile {
//       padding: 1rem;
//       border-bottom: 1px solid $sep-color;
//     }
//   }
//   li:last-child {
//     border-bottom: 0;
//   }
// }

// .nav.mobile-active {
//   @include mobile {
//     display: flex;
//   }
// }

// .Menu-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .Menu-item {
//   background-color: $nav-bg;
//   @include desktop {
//     margin: -1rem auto 0 auto;
//     border-right: 1px solid $nav-item-border;
//     text-align: center;
//   }
//   a {
//     color: $nav-link;
//   }
// }

// .Menu-item:last-child {
//   border-right: none;
// }

// .Menu-item-active {
//   color: #000;
//   text-decoration: none;
//   font-weight: bold;

//   a {
//     color: $nav-link-active;
//     @include desktop {
//       border-bottom: 2px solid $nav-item-border;
//     }
//   }
// }

// /** Nested child submenu **/
// .Menu-subMenu {
//   display: none;
//   position: absolute;
//   transition: display 300ms;
// }

// .Menu-subMenu {
//   display: block;
// }

// .submenu-active {
//   display: block;
//   background-color: $submenu-bg;
//   padding: 1rem;
  
// }

// .submenu-list {
//   list-style: none;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .mobile-menu-button {
//   @include mobile {
//     display: block;
//   }
//   @include desktop {
//     display: none;
//   }
// }
