@import 'colors';

.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
  
  a {
    flex: 1 1 20%;
  }
}

.full-width {
  width: 100% !important;
}
