@import 'fonts';

.restaurant-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.restaurant-container:last-child {
  border-bottom: 0;
}

.restaurant-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $sep-color;
  
  & > * {
    margin: 1rem;
    padding: 1rem;
  }
  
  & > .title {
    font-size: $font-md;
    flex: 1 1 30%;
  }

  & > .cuisine-container {
    flex: 1 1 15%;
  }

  & > .address {
    flex: 1 1 20%;
  }

  & > .description {
    flex: 1 1 35%;
  }

}

.cuisine-list {
  list-style: none;
}
