section[name="index"] {
  margin: 0 auto;
  font-size: 2rem;
  display: flex;
  
  & > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  li {
    flex: 1 1 25%;
  }
}

.travel-list {
  list-style: none;
  display: flex;
  flex-direction: column;

}

.travel-container {
  border-bottom: 1px solid $sep-color;
}

.travel-container > .mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.travel-container > .desktop {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.travel-container:last-child {
  border-bottom: 0;
}


.travel-container {
  @include mobile {
    & > .desktop {
      display: none;
    }
  }
  
  @include desktop {
    & > .mobile {
      display: none;
    }
  }
  
}

.travel {
  //margin: 1rem;
  //padding: 1rem;
}

.travel.title {
  font-size: 2rem;
  flex: 1 1 30%;
  margin-top: 3rem;
}

.travel.description {
  font-size: 1.4rem;
  @include mobile {
    flex: 1 1 50%;
  }
  &::before {
    font-size: 1rem;
    content: "DESCRIPTION";
    position: relative;
    top: 1rem;
  }
}

.travel.address {
  flex: 1 1 30%;
  &::before {
    font-size: 1rem;
    content: "ADDRESS";
    top: 1rem;
    position: relative;
  }
}

.mobile > .col {
  display: flex;
  flex-direction: column;
  
  margin: 1rem;
}
