@import 'fonts';

.WeddingParty {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include desktop {
    flex-direction: row;
  }

  @include mobile {
    flex-direction: column;
  }

  &-col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @include desktop {
      max-width: 80%;
      min-width: 80%;
    }

    &--name {
      font-family: $serif;
      font-size: $font-lg;
    }

    &--position {
      font-family: $serif;
      font-size: $font-md;
      font-style: italic;
    }

    &--relation {
      font-family: serif;
      font-size: $font-sm;
    }
  }
}