@import 'fonts';
@import 'colors';

.Wysiwyg {
    font-size: $font-md;
    font-family: $serif;

    &-title {
        font-family: $serif;
        font-size: $font-lg;
        padding: 1rem;
        background-image: linear-gradient(-90deg, $color-4, $color-6);
    }

    &-copy {
        font-family: $serif;
    }

    &-list {
        font-family: $serif;
        margin-top: 1rem;
        margin-left: 1rem;
        &>li {
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }
}