@import 'fonts';
@import 'colors';

.Wysiwyg {
    font-size: $font-md;
    font-family: $serif;

    &-title {
        position: relative;
        background-image: linear-gradient(-270deg, $color-4, $color-6);
        height: 2px;

        @include desktop {
            margin-bottom: 5rem;
            margin-top: 5rem;
            left: 0;
        }

        &>span {
            font-family: $serif;
            font-size: $font-lg;
            padding: 1rem;
            background-color: $color-6;
            position: relative;
            top: -1.5rem;
            
            @include desktop {
                left: 50px;
            }

            @include mobile {
                font-size: $font-lg;
            }
        }
    }

    &-copy {
        font-family: $serif;
        padding: 1rem;
    }

    &-list {
        font-family: $serif;
        margin-top: 1rem;
        margin-left: 1rem;
        &>li {
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }
}