@import 'colors';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'weddingParty';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: $sans;
  background-color: rgba(10,10,10,.8);
}

.body::before {
  background-color: $page-bg;
  background-image: url('/public/icons/kauai.jpg');// no-repeat;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.body {
  background-color: #ffffff;
  @include mobile {
    padding: 20px 20px 0;
  }
  @include desktop {
    padding: 100px 40px 200px 40px;
    margin: 100px auto 300px auto;
    border-radius: 1rem;
  }

  max-width: 800px;
  min-height: 50vh;
}

ul {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #eee;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-family: $serif;
  font-weight: normal;
}

p {
  font-family: $sans;
  font-size: 1.8rem;
}

section[name="content"] {
  margin: 20px 100px;
}
