{% extends "_layouts/default" %}
{% block content %}
    {% for link in entry.links %}
        <li>
            <a href="{{link.linkUrl}}">{{link.linkTitle}}</a>
            {% if link.additionalInfo | length %}
                - {{ link.additionalInfo }}
            {% endif %}
    {% endfor %}
{% endblock %}
