{% extends "_layouts/default" %}
{% block content %}
    {% cache globally unless getenv('APP_ENV') == 'development' %}
        {% set hero = entry.pageHeroImage %}
        {% if hero | length %}
            <div class="Hero">
                <img src="{{ hero.one.getUrl }}"/>
            </div>
        {% endif %}

        {% include '_partials/wysiwyg' with {
            content: {
                sectionHeading: 'Registry',
                copy: '',
            },
        } only %}

        <div class="Registry">
            {% for link in entry.links.all %}
                {% include 'registry/card' with {
                    content: link,
                } only %}
            {% endfor %}
        </div>
    {% endcache %}
{% endblock %}
