<div class="Registry-card Shadow-desktop">
    <a href="{{ content.linkUrl }}" class="Registry-card--content">
        <div class="Image">
            <img src="{{ content.image.one.getUrl('registryCard') }}">
        </div>
    </a>
</div>