{% extends '_layouts/default %}
{% block content %}
    <section name="accommodations">
        <h1>{{entry.accommodationsTitle}}</h1>
        {{entry.accommodationsIntroCopy}}
        <ul class="hotels-list">
            {%for hotel in entry.hotelsList %}
                {%include '_partials/hotel' with {hotel: hotel}%}
            {%endfor%}
        </ul>
    </section>

    <section name="getting-around">
        <h1>{{entry.gettingAroundTitle}}</h1>
        {{entry.gettingAroundCopy}}
    </section>

{% endblock %}
