<li class="hotel">
    <h3>{{hotel.hotelName}}</h3>
    <p>{{hotel.hotelDescription}}</p>
    <p>{{hotel.hotelAddress}}</p>
    {% if hotel.hotelImage %}
        <img src="/uploads/{{hotel.hotelImage}}"/>
    {% endif %}
</li>
