<li class="travel-contaier">
    <div class="title">{{travel.title}}</div>
    <div class="desc">{{travel.travelTypeDescription}}</div>
    <div class="address">{{travel.travelTypeAddress}}</div>
    <div class="phone">{{travel.travelTypePhone}}</div>
</li>
