<li class="travel-container">
    <div class="title">{{travel.title}}</div>
    <div class="description">{{travel.travelTypeDescription}}</div>
    <div class="address">{{travel.travelTypeAddress}}</div>
    <div class="phone">{{travel.travelTypePhone}}</div>
</li>
