{% set photos = craft.assets().volume('s3Photos').kind('image').all() %}
{% extends '_layouts/default' %}
{% block content %}
    <ul>
        {% for photo in photos %}
            <li>
                <img src="{{ photo.url }}">
            </li>
        {% endfor %}
    </ul>
{% endblock %}
