{% set photos = craft.assets().volume('s3Photos').kind('image').all() %}
{% extends '_layouts/default %}
{% block content %}
    <ul>
        {% for photo in photos %}
            <li>
                <pre>{{ photo.getUrl() }}</pre>
                {#<img src="{{ photo.getUrl('thumb') }}"> #}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
