{% set isAjax = craft.app.request.isAjax %}
{% extends isAjax ? '_layouts/ajax' : '_layouts/default' %}

{% set costFilter = craft.app.request.getParam('cost') %}
{% set cuisineFilter = craft.app.request.getParam('cuisine') %}
{% set restaurantQuery = craft.app.get('restaurants').filter({cost: costFilter, cuisine: cuisineFilter, limit: 12, orderBy: 'title asc'}) %}
{% set cuisines = craft.entries.section('cuisines').all %}
{% set costs = craft.entries.section('costs').orderBy('title desc').all %}

{% paginate restaurantQuery as pageInfo,
restaurants %}

    {% block content %}
        {% if isAjax %}
            {% include 'things-to-do/dine/grid' with {
        restaurants: restaurants,
    } only %}
        {% else %}
            {% include '_partials/wysiwyg' with {
                content : {
                    sectionHeading: 'Restaurants',
                    copy: ''
                }
            } only %}
            
            {# {% include 'things-to-do/listingFilter' with {
                type: 'things-to-do/dine',
                cuisines: cuisines,
                costs: costs,
                epicentre: true,
            } only %} #}

            {% include '_partials/map' with {
                places: restaurantQuery.all(),
            } only %}

            {# <div class="ThingsToDo">
                {% include 'things-to-do/dine/grid' with {
                    restaurants: restaurants,
                } only %}
            </div>

            {% include 'things-to-do/paginate' with {
                pageInfo: pageInfo
            } only %} #}
        {% endif %}
    {% endblock %}