@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed);
@import url(https://use.fontawesome.com/releases/v5.1.0/css/solid.css);
@import url(https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css);
html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #CCD6DD; }

.body::before {
  z-index: -1;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0; }

.body {
  background-color: #ffffff;
  max-width: 1000px;
  min-height: 50vh; }
  @media only screen and (max-width: 769px) {
    .body {
      padding: 20px 20px 0; } }
  @media only screen and (min-width: 770px) {
    .body {
      padding: 100px 40px 200px 40px;
      margin: 0 auto 300px auto;
      border-radius: 1rem; } }

ul {
  padding-left: 0; }

a {
  text-decoration: none;
  color: #55ACEE; }

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Baskerville", serif;
  font-weight: normal; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem; }

section {
  margin-bottom: 10rem; }

section > img {
  max-width: 100%; }

@media only screen and (min-width: 770px) {
  section[name="content"] {
    margin: 20px 100px; } }

@media only screen and (max-width: 769px) {
  section[name="content"] {
    padding-bottom: 50vh; } }

@media only screen and (max-width: 769px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; } }

.Menu ul {
  list-style-type: none;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  display: flex; }
  @media only screen and (max-width: 769px) {
    .Menu ul {
      max-height: 0;
      visibility: hidden;
      opacity: 0;
      flex-direction: column;
      align-items: center;
      transition: max-height, opacity 500ms ease-in-out; } }
  @media only screen and (min-width: 770px) {
    .Menu ul {
      display: flex;
      flex-direction: row;
      border-top: 2px solid #CCD6DD;
      position: relative;
      top: -1rem;
      justify-content: center;
      margin: 1rem;
      align-items: start;
      padding: 0 20px; } }

@media only screen and (max-width: 769px) {
  .Menu.active ul {
    max-height: 800px;
    visibility: visible;
    opacity: 1; } }

.Menu-item {
  text-transform: uppercase; }
  @media only screen and (max-width: 769px) {
    .Menu-item {
      width: 100%;
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid #CCD6DD; }
      .Menu-item:last-child {
        border-bottom: 0; } }
  @media only screen and (min-width: 770px) {
    .Menu-item {
      max-width: 180px;
      padding: 0 10px;
      margin: -1rem auto 0 auto;
      background-color: #FFFFFF; } }
  @media only screen and (min-width: 770px) {
    .Menu-item-subMenu {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 300ms linear; } }
  @media only screen and (max-width: 769px) {
    .Menu-item-subMenu > div {
      padding: .5rem; } }
  @media only screen and (min-width: 770px) {
    .Menu-item:hover .Menu-item-subMenu {
      visibility: visible;
      opacity: 1; } }
  .Menu-item > span {
    cursor: pointer;
    color: #292F33; }
  .Menu-item > a, .Menu-item-subMenu > div > a {
    color: #292F33; }
    @media only screen and (max-width: 769px) {
      .Menu-item > a, .Menu-item-subMenu > div > a {
        color: #292F33; } }

.Menu-mobile-hamburger {
  display: none; }
  @media only screen and (max-width: 769px) {
    .Menu-mobile-hamburger {
      display: block;
      cursor: pointer;
      padding: 1rem; } }

.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .Header-title {
    flex: 1 1 100%;
    text-align: center;
    font-family: "Baskerville", serif; }
    @media only screen and (max-width: 769px) {
      .Header-title {
        font-size: 5rem;
        margin: 0 auto 20px auto; } }
    @media only screen and (min-width: 770px) {
      .Header-title {
        font-size: 12rem;
        margin: 0 auto 40px auto; } }

section[name="header"] {
  margin-bottom: 1rem; }

.Section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Baskerville", serif; }

.ThingsToDo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .ThingsToDo-card {
    background-image: linear-gradient(-90deg, #E1E8ED, #CCD6DD);
    border: 1px solid #66757F;
    flex: 1 1 25%;
    min-height: 200px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    transition: all 300ms linear; }
    .ThingsToDo-card:hover {
      flex: 1 1 30%;
      height: 220px; }

.Wysiwyg {
  font-size: 1.8rem;
  font-family: "Baskerville", serif; }
  .Wysiwyg-title {
    position: relative;
    background-image: linear-gradient(-270deg, #CCD6DD, #FFFFFF);
    height: 2px; }
    @media only screen and (min-width: 770px) {
      .Wysiwyg-title {
        margin-bottom: 5rem;
        margin-top: 5rem;
        left: 0; } }
    .Wysiwyg-title > span {
      font-family: "Baskerville", serif;
      font-size: 3rem;
      padding: 1rem;
      background-color: #FFFFFF;
      position: relative;
      top: -1.5rem; }
      @media only screen and (min-width: 770px) {
        .Wysiwyg-title > span {
          left: 50px; } }
      @media only screen and (max-width: 769px) {
        .Wysiwyg-title > span {
          font-size: 3rem; } }
  .Wysiwyg-copy {
    font-family: "Baskerville", serif;
    padding: 1rem; }
  .Wysiwyg-list {
    font-family: "Baskerville", serif;
    margin-top: 1rem;
    margin-left: 1rem; }
    .Wysiwyg-list > li {
      margin-left: 2rem;
      margin-bottom: 1rem; }

.Image > img {
  max-width: 100%; }

@media only screen and (max-width: 769px) {
  .Image {
    margin-bottom: 5rem; } }

.Controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .Controls > * {
    padding: 2rem;
    margin: 2rem; }
  .Controls-dropdown {
    flex: 1 1 auto;
    min-width: 25%;
    max-width: 30%;
    border: 2px solid #FFFFFF;
    background-color: #E1E8ED;
    border-radius: 0;
    font-size: 1.8rem;
    font-family: "Source Sans Pro", sans-serif; }

.controls-container {
  background-color: #FFFFFF;
  border-radius: 16px; }

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 2rem;
  font-size: 1.4rem; }
  .controls label {
    padding: 2px 5px;
    line-height: 3rem;
    margin: 3px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #E1E8ED; }
  .controls .active {
    background-color: #66757F; }

.cuisine:before {
  content: 'Cuisine'; }

td.header {
  border-bottom: 1px solid #CCD6DD; }

td.type {
  vertical-align: top; }

.Address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-90deg, #E1E8ED, #CCD6DD);
  margin-bottom: 1rem; }
  .Address-content {
    max-width: 50%;
    background-color: #FFFFFF;
    padding: 1rem;
    margin: 1rem;
    font-style: italic;
    font-family: "Baskerville", serif;
    border: 1px solid #292F33; }
    @media only screen and (min-width: 770px) {
      .Address-content {
        font-size: 3rem; } }
    @media only screen and (max-width: 769px) {
      .Address-content {
        font-size: 1.8rem; } }

.Map {
  width: 100%;
  display: block;
  min-height: 600px; }
  .Map-data {
    min-height: 600px;
    width: 100%; }
  .Map-infoWindow--rating {
    margin-bottom: .5rem; }
  .Map-infoWindow--open {
    margin-bottom: .5rem; }
  .Map-infoWindow--directions {
    color: #66757F; }
  .Map-infoWindow--image {
    max-width: 100%; }
    .Map-infoWindow--image img {
      max-height: 200px; }

.Accordion {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem; }
  .Accordion-child {
    margin-bottom: 1rem;
    width: 100%; }
    .Accordion-child--title {
      border-bottom: 1px dotted #66757F;
      padding: 1rem;
      font-family: "Baskerville", serif; }
      .Accordion-child--title > span {
        pointer-events: none;
        transition: all 500ms ease-in-out; }
      .Accordion-child--title.active > span {
        margin-left: 1rem; }
    .Accordion-child--body {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      transition: all 500ms ease-in-out; }
      .Accordion-child--body.active {
        padding: 2rem 0;
        max-height: 800px;
        padding-bottom: 2rem; }

.Registry {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (min-width: 770px) {
    .Registry {
      flex-direction: row; } }
  @media only screen and (max-width: 769px) {
    .Registry {
      flex-direction: column; } }
  .Registry-card {
    border: 1px solid #66757F; }
    .Registry-card--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .Registry-card--content > span {
        color: #292F33; }

@media only screen and (min-width: 770px) {
  .Shadow-desktop {
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5); } }

.Photos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap; }
  @media only screen and (max-width: 769px) {
    .Photos {
      justify-content: center;
      margin-top: 5rem; } }
  .Photos-card {
    max-width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: max-width, margin 300ms linear; }
    @media only screen and (max-width: 769px) {
      .Photos-card {
        max-width: unset; } }
    .Photos-card > * {
      pointer-events: none;
      margin-bottom: 0; }
    .Photos-card:hover {
      max-width: 150px;
      margin: 0; }
  .Photos-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75); }
    .Photos-modal.active {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .Photos-modal--arrows {
      position: absolute;
      margin: auto;
      font-size: 3rem;
      font-family: "Source Sans Pro", sans-serif;
      top: 50%;
      color: #FFFFFF;
      font-weight: bold;
      cursor: pointer; }
    .Photos-modal--info {
      position: absolute;
      margin: auto;
      font-size: 3rem;
      font-family: "Source Sans Pro", sans-serif;
      left: 50%;
      color: #FFFFFF;
      font-weight: bold; }
    .Photos-modal--content {
      position: relative;
      text-align: center;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px; }

.right {
  right: -1%; }

.left {
  left: -1%; }

.bottom {
  bottom: -5%; }

.top {
  top: -5%; }

.Hero {
  margin: 0 auto;
  margin-bottom: 10rem; }
  .Hero > img {
    width: 100%; }
    @media only screen and (min-width: 770px) {
      .Hero > img {
        width: 800px; } }

.WeddingParty {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (min-width: 770px) {
    .WeddingParty {
      flex-direction: row; } }
  @media only screen and (max-width: 769px) {
    .WeddingParty {
      flex-direction: column; } }
  .WeddingParty-col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .WeddingParty-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem; }
    @media only screen and (min-width: 770px) {
      .WeddingParty-card {
        max-width: 80%;
        min-width: 80%; } }
    .WeddingParty-card--name {
      font-family: "Baskerville", serif;
      font-size: 3rem; }
    .WeddingParty-card--position {
      font-family: "Baskerville", serif;
      font-size: 1.8rem;
      font-style: italic; }
    .WeddingParty-card--relation {
      font-family: serif;
      font-size: 1.4rem; }

.Hotel {
  display: flex;
  flex-direction: row; }
  .Hotel-image {
    flex: 1 1 50%; }
    @media only screen and (max-width: 769px) {
      .Hotel-image {
        display: none; } }
  .Hotel-content {
    flex: 1 1 50%;
    font-family: "Baskerville", serif;
    padding-left: 2rem; }
    .Hotel-content--desc {
      font-family: "Baskerville", serif; }
    .Hotel-content--address {
      margin-top: 2rem;
      font-family: "Baskerville", serif; }
    .Hotel-content--phone {
      margin-top: 2rem;
      font-family: "Baskerville", serif; }

.hotels-list > li:last-child {
  border-bottom: 0; }

.getting-around > ul {
  padding-left: 5rem; }

.getting-around > ul > li {
  padding-bottom: 1rem; }

.getting-around > ul > li > ul {
  padding-left: 5rem; }

.getting-around > ul > li > ul > li {
  padding-bottom: 1rem; }


/*# sourceMappingURL=main.css.map*/